<div class="user-details-content">
    <div class="row">
        <div class="col-11">
            <h6>User details</h6>
        </div>
        <div class="col-1 text-end">
            <span style="padding: 0px 10px;">X</span>
        </div>
    </div>
    <div class="row">
        <div class="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, cumque aut nihil, veniam repudiandae atque labore, voluptatem tempora molestiae aliquid placeat a? Fuga dignissimos reiciendis ut quibusdam velit, inventore eius!</p>
            <div class="bottom-sheet-header">
  <h2 class="bottom-sheet-title">{{ aemData.popupType }}</h2>
  <div class="bottom-sheet-subtitle">{{ aemData.aemData }}</div>
</div>
<!-- Main content below -->

        </div>
    </div>
</div>