.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #002953;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
    color: white;
  }
}
