<div class="container">
    <h4>Dialog</h4>
    <mat-divider></mat-divider>
    <div class="wrapper mt-3">
        <div class="row">
            <div class="col-6">
                <!-- <mat-card class="mat-elevation-z0"> -->
                    <h6>Simple Dialog</h6>
                    <button mat-stroked-button color="primary" (click)="openDialog()">
                        open dialog
                    </button>
                <!-- </mat-card> -->
            </div>
        </div>
    </div>
</div>