.mat-toolbar {
    background-color: #002953;
    color: white;
    justify-content: center;
    .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
      color: white;
    }
    span{
        font-size: 1.2rem;
    }
}
