<div class="container pt-4">
        <h4>Components</h4>
        <mat-divider></mat-divider>
        <div class="content pt-2">
            <div class="row">
                @for (item of cards; track $index) {
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 pb-4">
                    <mat-card [routerLink]="item.url">
                    <div class="card-content" >
                            <mat-icon>{{item.icon}}</mat-icon>
                           <span>{{item.title}}</span>
                    </div>
                    </mat-card>
                </div>
                }               
            </div>
        </div>
</div>