@use '@angular/material' as mat;

$my-theme: mat.define-theme((
  color: (
    primary: mat.$azure-palette
  )
));

html {
  @include mat.theme($my-theme);
  @include mat.all-component-themes($my-theme);
}


body {
  color-scheme: light;
  background-color: #edeff0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}
